Agentic/Yt_course/Agents/RAG_DATA PROCESSING.json
{
  "name": "RAG_n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1x1F6icDr64fHZj9eDeIjPLivM7gf5__6",
          "mode": "list",
          "cachedResultName": "Knowledge Base - RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1x1F6icDr64fHZj9eDeIjPLivM7gf5__6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "574aeef8-38c0-4679-b52f-fd717ec09bd7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H1aP3r2n3fb4f6W1",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "474760df-8653-45a7-a603-178e4aa08599",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H1aP3r2n3fb4f6W1",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nagent",
          "mode": "list",
          "cachedResultName": "n8nagent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "b7ed19b8-3aa2-45d7-b313-4ca6de3d3960",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "KTUczireIaqtRKXl",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        320,
        256
      ],
      "id": "48a62c51-de60-4960-a112-8359b5b4b214",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "nlyWQUAL98FlFjqR",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "docxLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        288
      ],
      "id": "cac3167b-318b-49a7-9280-3c391eaedb40",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e8bb59ff-adfc-4eba-8695-a460dbc1ca7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae642274ae6c1c4f1930fee18a0d19c2e7aeafc31cbf00b50b3ccfa97071a60a"
  },
  "nodeGroups": [],
  "id": "1DLGG3on2eBCXMkK",
  "tags": []
}