Agentic/Yt_course/Agents/voice_agent.json
{
  "name": "voice_agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "You are a personal assistant for Abdullah Alam Ansari. You ONLY answer questions using the Pinecone Vector Store tool. You MUST call the tool for every single question — no exceptions.\n\nRULES:\n- ALWAYS call the Pinecone tool before answering. Never skip it.\n- NEVER answer from your own knowledge or training data.\n- NEVER guess, assume, or hallucinate any information.\n- If the tool returns no results, say: 'I could not find that information in Abdullah's knowledge base.'\n- Do NOT mention any university, company, or fact that did not come from the tool.\n- Keep answers concise and factual."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ],
      "id": "90ee4e7a-3e96-418b-8858-d6c93e23c680",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "961ca881-da3e-44b3-886c-dbc63df3af98",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "OWooyRQx8Ihmhig1",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ALWAYS use this tool to retrieve any information about Abdullah Alam Ansari — his education, skills, projects, work experience, hackathons, awards, and personal background. This is the ONLY source of truth. Use it for every question.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nagent",
          "mode": "list",
          "cachedResultName": "n8nagent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "9d930080-c186-4b1d-bd3c-fff67758da86",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "akGIH3bmtCBFt5Wp",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1x1F6icDr64fHZj9eDeIjPLivM7gf5__6",
          "mode": "list",
          "cachedResultName": "Knowledge Base - RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1x1F6icDr64fHZj9eDeIjPLivM7gf5__6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        944,
        96
      ],
      "id": "a85b23bd-55a5-4580-bbe4-f70d42ed5932",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fBUB378rFtgxj1Gr",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        96
      ],
      "id": "2057c211-77db-43a5-9c90-f89a0e15fad9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fBUB378rFtgxj1Gr",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "docxLoader",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1600,
        336
      ],
      "id": "a82973e1-7b48-4538-b1bb-cf572d325d95",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1408,
        320
      ],
      "id": "87035eb6-e3e2-4551-b4c6-25cadf6893fa",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "OWooyRQx8Ihmhig1",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nagent",
          "mode": "list",
          "cachedResultName": "n8nagent"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1408,
        32
      ],
      "id": "12a2daa0-3603-45ae-a7b7-4ba7d6372006",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "akGIH3bmtCBFt5Wp",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1161ca42-b21a-454f-aed5-278d1cf55648",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -32
      ],
      "id": "a398a864-666b-40bb-8176-c8695d697b9a",
      "name": "Webhook",
      "webhookId": "1161ca42-b21a-454f-aed5-278d1cf55648"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        0
      ],
      "id": "45eb0f00-e5ee-475b-b947-14aa1d816bd9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        576,
        432
      ],
      "id": "a3920f0f-b285-4a34-a37b-fcee7b6b9ee6",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "OWooyRQx8Ihmhig1",
          "name": "Cohere account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e89859d-b151-4a78-9c5f-135a5c209283",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ef0f8feee7d7adc1523204e2fccedc24ce61428dd18bb500c3fc9450cc37887"
  },
  "nodeGroups": [],
  "id": "Bck1povkgMTbcU2Z",
  "tags": []
}